<footer>
    <div class="footer-content">
        <h3>Video Game Inventory</h3>
        <p>This project is a part of <a href="https://www.theodinproject.com/" target="_blank">The Odin Project</a> curriculum. 
          Check out the project repository <a href="https://github.com/leoshliak/Inventory-Application" target="_blank" >here.</a></p>
        <p>© <a href="https://github.com/leoshliak" target="_blank">leoshliak</a>, 2025</p>
    </div>
</footer>