<header>
    <div class="header-mobile">
        <div class="logo">
            Inventory App
        </div>

        <div class="menu-icon" role="button" aria-label="menu">
            <span></span>
        </div>
    </div>
    <nav id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/games">Games</a></li>
            <li><a href="/categories">Categories</a></li>
            <li><a href="/AddGame">New Game</a></li>
            <li><a href="/addCategory">New Category</a></li>
            <li id="nav-repo"><a href="https://github.com/leoshliak/Inventory-Application" target="_blank">Project Repo</a></li>
        </ul>
    </nav>
</header>